@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --font-mclaren: "McLaren", sans-serif;
  --color-base: oklch(0.2201 0.0095 159.21);
  --color-mantle: oklch(19% 0.0218 226.6);
  --color-elsielightgreen: oklch(0.8634 0.1495 155.86 /100%);
  --color-elsiedarkgreen: oklch(31.8% 0.0208 177.4 / 48%);
  --color-elsiehovergold: oklch(0.8812 0.1156 91.15 /80%);
  --color-strokehighlight: oklch(0.8848 0.0755 221.96);
  --bg-mantle: #112022
  --bg-base: #02131c
}

.hollow-text {
  color: transparent;
  -webkit-text-stroke: 2px oklch(0.541 0.1313 283.19 / 8%);
  paint-order: stroke fill;
}

@utility elsie-text {
  --tracking: 0.1em;

  position: absolute;
  display: inline-block;
  font-family: "McLaren", sans-serif;
  font-size: var(--text-9xl);
  line-height: var(--text-9xl--line-height);
  letter-spacing: var(--tracking);

  @media screen and (min-width: 768px) {
    --tracking: 44px;
  }
  @media screen and (min-width: 1024px) {
    --tracking: 65px;
  }
}

:root {
  --vpos: 30px;
  --hpos: 180px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  baclground-color: #02131c;
  background: radial-gradient(
      circle at var(--hpos) var(--vpos),
      #112022,
      #02131c 77%
    );

    @media screen and (min-width: 768px) {
      --vpos: 350px;
      --hpos: 550px;
    }
}
